.list-item {
  list-style: none;
}

.list-item_wrapper--closed {
  display: none;
}

.list-item_expander {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  margin-left: .5rem;
  position: relative;
}

.list-item_sublist-container {
}

.list-item_img {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: .8rem;
  height: .8rem;
}

.list-item_img--closed {

}

.list-item_img--open {
  transform: translate(-50%, -50%) rotate(90deg);
}

.list_item_title-wrapper {
}

.list-item_title-wrapper {
  display: flex;
  padding: .5rem 0;
}
