.header {
  display: flex;
}

.header_logo {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 3rem;
}
.header_logo > img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
}
