.main-content_sidebar {
  grid-area: sidebar;
  padding: 1rem 0.75rem;
}

.main-content_content {
  grid-area: content;
  position: relative;
  padding: 1rem 0.75rem;
}

.main-content_header {
  grid-area: header;
}

.main-content_footer {
  grid-area: footer;
  padding: 1rem 0.75rem;
}

.main-content {
  height: 100vh;
  margin: 0 1rem;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 3rem auto 3rem;
  grid-template-areas:
    "header  header  header header header"
    "content content content content content"
    "footer  footer  footer footer footer";
}

